@font-face {
  font-family: 'Hack NF';
  src: url('/fonts/HackNerdFont-Regular.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Hack NF', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: rgba(246, 246, 246, 0.9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: rgba(47, 47, 47, 0.9);
  }
}
